{% extends "turtlemail/htmx_response.jinja" %}
{% block content %}
    <form method="post"
          hx-post="{{ url("htmx-create-stay") }}"
          id="create_stay_form"
          hx-swap="outerHTML"
          class="grid items-stretch grid-cols-2 p-2 gap-x-8 gap-y-2 md:grid-cols-3">
        {{ form.non_field_errors() }}
        {% csrf_token %}
        {% with field=form.location, label=True %}
            {% include "turtlemail/fields/_select_field.jinja" %}
        {% endwith %}
        {% with field=form.frequency, label=True %}
            {% include "turtlemail/fields/_select_field.jinja" %}
        {% endwith %}
        {% with field=form.start, label=True, hidden=True %}
            {% include "turtlemail/fields/_date_field.jinja" %}
        {% endwith %}
        {% with field=form.end, label=True, hidden=True %}
            {% include "turtlemail/fields/_date_field.jinja" %}
        {% endwith %}
        <button class="self-end w-full btn btn-primary">
            {# Add an invisible indicator to keep the save text centered... #}
            <span class="invisible loading"></span>
            {{ _("Save") }}
            <span class="loading htmx-indicator"></span>
        </button>
    </form>
    {% include "turtlemail/stays/form_date_field_script.jinja" %}
{% endblock %}
