<div id="stays" class="px-4 py-8 bg-base-100 rounded-box md:px-8">
    <h2 class="mb-6 text-2xl font-bold">{{ _("Stays") }}</h2>
    <div id="stays_list" class="divide-y">
        {% for stay in stays %}
            <div id="stay_{{ stay.id }}">{% include "turtlemail/stays/detail.jinja" %}</div>
        {% endfor %}
        {% if request.user.location_set.filter(deleted=False).count() == 0 %}
            <div class="p-4 text-center text-base-content">{{ _("Add a location above, then create stays here!") }}</div>
        {% endif %}
        {% include "turtlemail/stays/create_button.jinja" %}
    </div>
</div>
