<form id="msg_form">
    <div class="w-full join">
        <input required
               class="w-full border-b-0 border-l-0 rounded-none input input-bordered join-item"
               name="message"
               placeholder="{{ gettext("Message") }}" />
        <button ws-send
                class="rounded-t-none rounded-br-box btn btn-secondary join-item">{{ gettext("send") }}</button>
    </div>
</form>
