<div hx-ext="ws"
     ws-connect="/ws/chat/{{ object.pk }}/"
     class="relative flex flex-col h-full max-w-xl border-l border-base-300">
    <div id="listofmsgs"
         class="flex-grow p-2 overflow-y-auto md:p-4 rounded-tr-box bg-base-100">
        {% for msg in chat_msgs %}
            {% set index = loop.index0 %}
            {% include "turtlemail/_chat_message.jinja" %}
        {% endfor %}
    </div>
    {% include "turtlemail/_chat_form.jinja" %}
</div>
{% include "turtlemail/_chat_list.jinja" %}
