<div hx-swap-oob=" {%- if new_msg -%}beforeend:#listofmsgs {%- elif update_msg -%}outerHTML:#msg{{ index }} {%- endif -%}">
    <div id="msg{{ index }}"
         class="chat {% if user == msg.author %}chat-end{% else %}chat-start{% endif %}">
        <div class="chat-header">
            {{ msg.author_name() }}
            <time class="text-xs opacity-50">{{ msg.created_at|date }} {{ msg.created_at|time }}</time>
        </div>
        <div class="chat-bubble">{{ msg.content|safe }}</div>
        <div class="opacity-50 chat-footer -tracking-[.25em]">
            {% if user == msg.author %}
                ✓
                {%- if msg.status == "R" %}✓{% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if new_msg %}
    <div hx-swap-oob="outerHTML:#msg_form">{% include "turtlemail/_chat_form.jinja" %}</div>
{% endif %}
