{# TODO: translate this to english #}
<div class="prose scroll-mt-32" id="instructions">
    <h2>Willkommen bei turtlemail!</h2>
    <p>Danke, dass du uns bei unserem Experiment unterstützt!</p>
    <p>
        Wenn du dich zum ersten mal einloggst, klicke rechts oben auf dein Profil. Dann trägst du deine Standorte und Aufenthalte ein.
    </p>
    <p>
        Nun kannst du auf der Startseite auf „Eine Lieferung erstellen“ klicken.
        Jetzt kannst du anderen, die ebenfalls bei turtlemail registriert sind, eine Lieferung schicken, indem du ihren Benutzer*innen-Namen eingibst. Sprecht euch einfach untereinander ab, teilt euch eure Namen mit und bildet Lieferketten!
        Du wirst von der App weiter durchgeleitet.
    </p>
    <p>
        Bei der Chat-Funktion (zu finden unter „Nachrichten“) kannst du, während das Pet unterwegs ist, mit den anderen Beteiligten Kontakt aufnehmen. Du kannst ihnen dort schreiben, bis deine Aufgabe in der Lieferkette erledigt ist. Der Mensch, der das Pet empfängt, kann in seiner App bestätigen, wenn es bei ihm angekommen ist.
    </p>
    <p>
        Viel Freude beim Probieren! Sollte etwas nicht klappen, ihr Fragen haben oder etwas unklar sein, lasst euch bitte nicht entmutigen und mailt uns: <a href="mailto:team@turtlemail.app">team@turtlemail.app</a> oder postet eure Fragen gleich in unseren Social Media Accounts und wir beantworten sie dort, damit auch andere davon profitieren. Danke!
    </p>
</div>
