<form class="h-full"
      action="{{ url("htmx-user-settings") }}"
      method="post"
      hx-post="{{ url("htmx-user-settings") }}"
      hx-swap="outerHTML"
      hx-boost="true"
      hx-target="this">
    <div class="h-full flex flex-col justify-between">
        {% csrf_token %}
        <div>{{ form }}</div>
        <div class="pb-5 self-end">
            <input class="btn btn-success align-bottom" type="submit" value="Submit">
        </div>
    </div>
</form>
