<form action="{{ url("htmx-user-settings") }}"
      method="post"
      hx-post="{{ url("htmx-user-settings") }}"
      hx-swap="outerHTML"
      hx-boost="true"
      hx-target="this">
    <div class="flex flex-col justify-between gap-4">
        {% csrf_token %}
        <div>{{ form }}</div>
        <div class="self-end">
            <input class="align-bottom btn btn-success" type="submit" value="Submit">
        </div>
    </div>
</form>
