<!DOCTYPE html>
<html lang="de"
      data-theme="turtlemail"
      class="h-full min-h-full bg-base-200">
    <head>
        <meta charset="UTF-8">
        <link href="{{ static("turtlemail/img/logo/turtlemail-icon-rounded.svg") }}" rel="icon" type="image/svg+xml">
        <meta name="robots" content="noindex, nofollow">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="theme-color" content="#00543A">
        <link rel="manifest" href="{{ static("turtlemail/manifest.json") }}">
        <title>turtlemail</title>
        {{ vite_assets("src/style.css") }}
        {{ vite_assets("src/main.ts") }}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock %}
    </body>
</html>
