{% extends "turtlemail/layout.jinja" %}
{% block content %}
    <div id="stays" class="w-full max-w-4xl">
        <h2 class="my-4 text-2xl font-bold">{{ _("Communication") }}</h2>
        <!--<div id="stays_list" class="divide-y">
            {% for stay in stays %}
                <div id="stay_{{ stay.id }}">{% include "turtlemail/_stay_detail.jinja" %}</div>
            {% endfor %}
            <button type="button" hx-get="{{ url("htmx-create-stay") }}" hx-swap="outerHTML" class="my-4 btn btn-primary btn-sm">{{ _("Add stay") }}</button>
        </div>-->
    </div>
{% endblock %}
