{% extends "turtlemail/layout.jinja" %}
{% block content %}
    <div class="grid w-full max-w-lg gap-8">
        <a href="{{ url("create_packet") }}" class="btn btn-lg btn-primary">{{ _("Place a delivery") }}</a>
        {% for form in routing_forms %}
            {% include "turtlemail/route_step_routing_form.jinja" %}
        {% endfor %}
        {% for form in request_forms %}
            {% include "turtlemail/route_step_request_form.jinja" %}
        {% endfor %}
        <div class="flex flex-col items-center justify-center gap-8">
            {% for item in object_list %}
                {% set item_color_class = "border-info hover:border-info/60" %}
                {% if item.status() == item.Status.DELIVERED %}
                    {% set item_color_class = "border-success hover:border-success/80" %}
                {% elif item.status() == item.Status.DELIVERING %}
                    {% set item_color_class = "border-success/60 hover:border-success/40" %}
                {% elif item.status() == item.Status.NO_ROUTE_FOUND %}
                    {% set item_color_class = "border-error hover:border-error/60" %}
                {% endif %}
                <a href="{{ url("packet_detail", item.human_id) }}"
                   class="w-full p-8 bg-white border-4 rounded-box {{ item_color_class }}">
                    <div class="flex flex-col gap-2">
                        <div>🧸 {{ item.human_id }}</div>
                        <div>
                            {% if item.recipient == request.user %}
                                <div class="flex flex-row gap-2 text-lg font-bold">
                                    {% include "turtlemail/icons/receive.jinja" %}
                                    {{ _("Receive from %(sender)s", sender = item.sender.username) }}
                                </div>
                            {% elif item.sender == request.user %}
                                <div class="flex flex-row gap-2 text-lg font-bold">
                                    {% include "turtlemail/icons/send.jinja" %}
                                    {{ _("Send to %(recipient)s", recipient = item.recipient.username) }}
                                </div>
                            {% elif item.current_route() is not none and item.current_route().is_user_involved(request.user) %}
                                <div class="flex flex-row gap-2 text-lg font-bold">
                                    {% include "turtlemail/icons/carry.jinja" %}
                                    {{ _("Carry") }}
                                </div>
                            {% else %}
                                <div class="flex flex-row gap-2 text-lg">
                                    {% include "turtlemail/icons/carry.jinja" %}
                                    {{ _("Involved in past plans") }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="flex flex-row justify-start gap-1">
                            {% set icon_path_status = "turtlemail/icons/" + item.status().lower() + ".jinja" %}
                            {% include icon_path_status %}
                            {{ item.status().label }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="p-8 border border-base-300 rounded-box bg-base-100">{% include "turtlemail/_instructions.jinja" %}</div>
    </div>
{% endblock %}
