{% extends "turtlemail/base.jinja" %}

{% block body %}
    <div class="h-[100dvh] bg-teal-100 flex justify-center items-center">
        <p class="w-max-[50ch] rounded-lg p-6 bg-white">Hallo turtlemail!</p>
    </div>
{% endblock %}
