{% extends "turtlemail/base.jinja" %}
{% block body %}
    {% include "turtlemail/_messages.jinja" %}
    {% set url_name = request.resolver_match.url_name %}
    <nav class="btm-nav lg:hidden">
        <a href="{{ url("deliveries") }}"
           {% if url_name == "deliveries" %}class="active"{% endif %}>
            <span class="btm-nav-label">{{ _("Deliveries") }}</span>
        </a>
        <a href="{{ url("stays") }}"
           {% if url_name == "stays" %}class="active"{% endif %}>
            <span class="btm-nav-label">{{ _("Stays") }}</span>
        </a>
        <a href="{{ url("profile") }}"
           {% if url_name == "profile" %}class="active"{% endif %}>
            <span class="btm-nav-label">{{ request.user.username }}</span>
        </a>
    </nav>
    <nav class="sticky top-0 z-10 hidden navbar bg-base-100 lg:flex">
        <div class="navbar-start">
            <a class="text-xl btn btn-ghost" href="{{ url("index") }}">
                <img src="{{ static("turtlemail/img/logo/turtlemail-logo.svg") }}" alt="{{ _("turtlemail") }}" class="w-full h-8" />
            </a>
        </div>
        <div class="navbar-center">
            <ul class="gap-2 text-lg menu menu-horizontal">
                <li>
                    <a href="{{ url("deliveries") }}"
                       {% if url_name == "deliveries" %}class="focus"{% endif %}>{{ _("Deliveries") }}</a>
                </li>
                <li>
                    <a href="{{ url("stays") }}"
                       {% if url_name == "stays" %}class="focus"{% endif %}>{{ _("Stays") }}</a>
                </li>
            </ul>
        </div>
        <div class="navbar-end">
            <a href="{{ url("profile") }}"
               class="h-8 px-4 mr-4 badge hover:bg-base-200 {% if url_name == "profile" %}badge-neutral{% endif %}">{{ request.user.username }}</a>
        </div>
    </nav>
    <div class="flex flex-col items-center px-4 pt-8 pb-32 lg:pb-8"
         id="hx-nav-boost-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
