{% extends "turtlemail/htmx_response.jinja" %}
{% macro choice_radio(value, label) %}
    <div class="form-control">
        <label class="justify-start gap-2 label">
            <input type="radio"
                   name="{{ form.choice.html_name }}"
                   value="{{ value }}"
                   {% if form.choice.value() == value %}checked{% endif %}
                   class="radio">
            <span class="label-text">{{ label }}</span>
        </label>
    </div>
{% endmacro %}
{% block content %}
    {% set step = form.step %}
    <form method="post"
          action="{{ url("update_route_step_routing", pk=step.id) }}"
          hx-boost="true"
          hx-push-url="false"
          hx-target="this"
          hx-swap="outerHTML"
          class="border-4 bg-base-100 rounded-box border-info">
        {% csrf_token %}
        <div class="p-8">
            <h2 class="text-lg font-bold">
                {{ _("Delivery Handover: ") }}
                <a hx-boost="false"
                   href="{{ url("packet_detail", slug=step.packet.human_id) }}">"{{ step.packet.human_id }}"</a>
            </h2>
            <div class="my-4 text-primary">
                <p>📍 {{ _("Near %(location)s", location = step.stay.location.name) }}</p>
                {% if step.previous_step and step.previous_step.stay.user != step.stay.user %}
                    <p>
                        🗓️ {{ step.describe_overlapping_date_range(step.previous_step) }}: {{ _("Take from %(person)s", person=step.previous_step.stay.user.username) }}
                    </p>
                {% endif %}
                {% if step.next_step and step.next_step.stay.user != step.stay.user %}
                    <p>
                        🗓️ {{ step.describe_overlapping_date_range(step.next_step) }}: {{ _("Hand over to %(person)s", person=step.next_step.stay.user.username) }}
                    </p>
                {% endif %}
            </div>
            {{ form.non_field_errors() }}
            <fieldset class="flex flex-col">
                <legend class="mb-2">{{ _("Did you receive this package?") }}</legend>
                {% for error in form.choice.errors %}<p class="text-error">{{ error }}</p>{% endfor %}
                {{ choice_radio(form.Choices.YES, _("Yes") ) }}
                {{ choice_radio(form.Choices.REPORT_PROBLEM, _("No, there has been a problem") ) }}
                {% with field=form.problem_description %}
                    {% include "turtlemail/fields/_textarea_field.jinja" %}
                {% endwith %}
                <div class="flex gap-2 mt-8">
                    <button class="btn btn-success grow" type="submit">{{ _("Send") }}</button>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}
