{% extends "turtlemail/public_layout.jinja" %}
{% block content %}
    <section class="p-8 pb-16">
        <div class="alert alert-success">
            <span>Your account was deleted successfully.</span>
        </div>
    </section>
{% endblock %}
