{{ _("Hello!") }}
{{ _("You've been invited to turtlemail by %(user)s!", user = invited_by.username) }}
{{ _("On turtlemail, people help each other out by taking things from one place to another. You can send deliveries, receive them, and help others by taking their deliveries on journeys you make.") }}
{{ _("To accept the invitation, click here: %(url)s", url=invite_url) }}
{{ _("Cheers,
the turtlemail team") }}
