{{ gettext("Hello") }} {{ user.username }},
{{ gettext("You have unread chat messages in your turtlemail account!") }}
{{ gettext("Your following package handover chats have new messages:") }}
{% for chat in chat_list %}
    {% if chat.updated %}- {{ chat.chat_title }}{% endif %}
{% endfor %}
{{ gettext("Click here to view your new messages:") }} {{ communication_url }}
{{ gettext("Happy turtlemailing!") }}
